{
    "GOOGLE_CLIENT_ID_ANDROID": "your-android-oauth-client-id.apps.googleusercontent.com",
    "GOOGLE_SERVER_CLIENT_ID": "your-server-oauth-client-id.apps.googleusercontent.com",
    "MODEL_CATALOG_URL": "https://raw.githubusercontent.com/newnonsick/MyBuddy-cfg/refs/heads/main/llm_models.json",
    "STT_CATALOG_URL": "https://raw.githubusercontent.com/newnonsick/MyBuddy-cfg/main/stt_models.json"
}
